/MyBook.class
/Book.class
/Paperback.class
/Hardcover.class
/Nonfiction.class
/Fiction.class
/Category.class
/Novel.class
/Series.class
/Author.class
/Anthology.class
/Story.class
/Classic.class
/Publisher.class
/Contract.class
